# Built application files and Maven
target/

# Compiled class files
*.class

# Log Files
*.log

# About IntelliJ
*.iml
/.idea/



# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#*.properties
#*.yaml