# Built application files and Maven
target/

# Compiled class files
*.class

# Log Files
*.log

# About IntelliJ
*.iml
/.idea/



# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#*.properties
#*.yaml

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*