<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serotonin.dao.CollegeDao">
    <resultMap id="BaseResultMap" type="com.serotonin.entity.College">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="college_name" jdbcType="VARCHAR" property="collegeName"/>
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
    </resultMap>

    <insert id="insertCollege" parameterType="com.serotonin.entity.College">
        insert into sh_college
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="query.collegeName != null">
                college_name,
            </if>
            <if test="query.schoolId != null">
                school_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="query.collegeName != null">
                #{query.collegeName},
            </if>
            <if test="query.schoolId != null">
                #{query.schoolId},
            </if>
        </trim>
    </insert>

    <delete id="deleteCollege" parameterType="integer">
    delete from sh_college
    where id=#{id}
    </delete>

    <select id="selectByCollege" parameterType="com.serotonin.entity.College"
            resultMap="BaseResultMap">
        select * from sh_college
        where 1=1
        <if test="query.id != null">
            and id = #{query.id}
        </if>
        <if test="query.collegeName != null">
            and college_name = #{query.collegeName}
        </if>
        <if test="query.schoolId != null">
            and school_id = #{query.schoolId}
        </if>
    </select>

    <update id="updateCollege" parameterType="com.serotonin.entity.College">
        UPDATE sh_college
        <set>
            <if test="query.collegeName != null">
                college_name = #{query.collegeName}
            </if>
            <if test="query.schoolId != null">
                school_id = #{query.schoolId}
            </if>
        </set>
        WHERE id=#{query.id}
    </update>


    <!--<update id="createTable" parameterType="com.serotonin.entity.CreateTableParam">-->
    <!--CREATE TABLE ${createTableParam.tableName} LIKE ${createTableParam.originalTableName};-->
    <!--</update>-->

    <select id="selectAll" resultMap="BaseResultMap">
      select * from sh_college
    </select>

    <!--<select id="selectByid" resultMap="BaseResultMap">-->
    <!--select * from dt_equipment_history_data-->
    <!--where id=#{id}-->
    <!--</select>-->


</mapper>