<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serotonin.dao.ContainerInfoDao">
    <resultMap id="BaseResultMap" type="com.serotonin.entity.ContainerInfo">
        <!--<result column="host_code" jdbcType="TIMESTAMP" property="createDate"/>-->
        <!--<result column="create_uid" jdbcType="INTEGER" property="createUid"/>-->
        <!--<result column="write_date" jdbcType="TIMESTAMP" property="writeDate"/>-->
        <!--<result column="write_uid" jdbcType="INTEGER" property="writeUid"/>-->
        <result column="container_name" jdbcType="VARCHAR" property="containerName"/>
        <result column="container_code" jdbcType="VARCHAR" property="containerCode"/>
    </resultMap>

    <!--<insert id="insertEquipmentHistoryData" parameterType="com.agioe.tool.data.entity.EquipmentHistoryData">-->
    <!--insert into dt_equipment_history_data-->
    <!--(-->
    <!--data_code,-->
    <!--data_name,-->
    <!--data_value,-->
    <!--equipment_code,-->
    <!--create_date-->
    <!--)values-->
    <!--(-->
    <!--#{equipmentHistoryData.dataCode},-->
    <!--#{equipmentHistoryData.dataName},-->
    <!--#{equipmentHistoryData.dataValue},-->
    <!--#{equipmentHistoryData.equipmentCode},-->
    <!--#{equipmentHistoryData.createDate}-->
    <!--)-->
    <!--</insert>-->

    <!--<delete id="deleteEquipmentHistoryData" parameterType="integer">-->
    <!--delete from dt_equipment_history_data-->
    <!--where id=#{id}-->
    <!--</delete>-->

    <select id="selectByContainerInfo" parameterType="com.serotonin.entity.ContainerInfo"
            resultMap="BaseResultMap">
        select *
        from container_info
        where 1=1
        <if test="containerInfo.containerName != null">
            and container_name = #{containerInfo.containerName}
        </if>
        <if test="containerInfo.containerCode != null">
            and container_code = #{containerInfo.containerCode}
        </if>
    </select>

    <!--<update id="updateEquipmentHistoryData" parameterType="com.agioe.tool.data.entity.EquipmentHistoryData">-->
    <!--UPDATE dt_equipment_history_data-->
    <!--<set>-->
    <!--<if test="equipmentHistoryData.dataCode != null">-->
    <!--data_code = #{equipmentHistoryData.dataCode},-->
    <!--</if>-->
    <!--<if test="equipmentHistoryData.dataName != null">-->
    <!--data_name = #{equipmentHistoryData.dataName},-->
    <!--</if>-->
    <!--<if test="equipmentHistoryData.dataValue != null">-->
    <!--data_value = #{equipmentHistoryData.dataValue},-->
    <!--</if>-->
    <!--<if test="equipmentHistoryData.equipmentCode != null">-->
    <!--equipment_code = #{equipmentHistoryData.equipmentCode},-->
    <!--</if>-->
    <!--</set>-->
    <!--WHERE id=#{equipmentHistoryData.id}-->

    <!--</update>-->

    <!--<select id="selectAll" resultMap="BaseResultMap">-->
    <!--select * from dt_equipment_history_data-->
    <!--order by id-->
    <!--</select>-->

    <!--<select id="selectByid" resultMap="BaseResultMap">-->
    <!--select * from dt_equipment_history_data-->
    <!--where id=#{id}-->
    <!--</select>-->


</mapper>