<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.Equipment_infoDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.Equipment_info">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_node_code" jdbcType="VARCHAR" property="parent_node_code"/>
        <result column="equipment_code" jdbcType="VARCHAR" property="equipment_code"/>
        <result column="equipment_name" jdbcType="VARCHAR" property="equipment_name"/>
        <result column="equipment_type" jdbcType="VARCHAR" property="equipment_type"/>
        <result column="equipment_property_template_code" jdbcType="VARCHAR"
                property="equipment_property_template_code"/>
        <result column="equipment_property_code" jdbcType="VARCHAR" property="equipment_property_code"/>
        <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
        <result column="data_val" jdbcType="VARCHAR" property="data_val"/>
        <result column="alarm_val" jdbcType="VARCHAR" property="alarm_val"/>
        <result column="control_val" jdbcType="VARCHAR" property="control_val"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
        <result column="params_update" jdbcType="TIMESTAMP" property="params_update"/>
        <result column="data_update" jdbcType="TIMESTAMP" property="data_update"/>
        <result column="alarm_update" jdbcType="TIMESTAMP" property="alarm_update"/>
        <result column="controller_update" jdbcType="TIMESTAMP" property="controller_update"/>
    </resultMap>

    <insert id="insertEquipment_info" parameterType="com.agioe.tool.data.entity.Equipment_info">
         insert into dt_equipment_info
        (
        parent_node_code,
        equipment_code,
        equipment_name,
        equipment_type,
        equipment_property_template_code,
        equipment_property_code,
        keyword,
        data_val,
        alarm_val,
        control_val
        )values
            (
            #{equipment_info.parent_node_code},
            #{equipment_info.equipment_code},
            #{equipment_info.equipment_name},
            #{equipment_info.equipment_type},
            #{equipment_info.equipment_property_template_code},
            #{equipment_info.equipment_property_code},
            #{equipment_info.keyword},
            #{equipment_info.data_val},
            #{equipment_info.alarm_val},
            #{equipment_info.control_val}
            )
    </insert>

    <delete id="deleteEquipment_info" parameterType="integer">
        delete from dt_equipment_info
        where id=#{id}
    </delete>

    <select id="selectByEquipment_info" parameterType="com.agioe.tool.data.entity.Equipment_info"
            resultMap="BaseResultMap">
        select *
        from dt_equipment_info
        where 1=1
        <if test="equipment_info.id != null">
            and id = #{equipment_info.id}
        </if>
        <if test="equipment_info.parent_node_code != null">
            and parent_node_code = #{equipment_info.parent_node_code}
        </if>
        <if test="equipment_info.equipment_code != null">
            and equipment_code = #{equipment_info.equipment_code}
        </if>
        <if test="equipment_info.equipment_name != null">
            and equipment_name = #{equipment_info.equipment_name}
        </if>
        <if test="equipment_info.equipment_type != null">
            and equipment_type = #{equipment_info.equipment_type}
        </if>
        <if test="equipment_info.equipment_property_template_code != null">
            and equipment_property_template_code = #{equipment_info.equipment_property_template_code}
        </if>
        <if test="equipment_info.equipment_property_code != null">
            and equipment_property_code = #{equipment_info.equipment_property_code}
        </if>
        <if test="equipment_info.keyword != null">
            and keyword = #{equipment_info.keyword}
        </if>
        <if test="equipment_info.data_val != null">
            and data_val = #{equipment_info.data_val}
        </if>
        <if test="equipment_info.alarm_val != null">
            and alarm_val = #{equipment_info.alarm_val}
        </if>
        <if test="equipment_info.control_val != null">
            and control_val = #{equipment_info.control_val}
        </if>
        order by id
    </select>

    <update id="updateEquipment_info" parameterType="com.agioe.tool.data.entity.Equipment_info">
        UPDATE dt_equipment_info
        <set>
            <if test="equipment_info.parent_node_code != null">
                parent_node_code = #{equipment_info.parent_node_code},
            </if>
            <if test="equipment_info.equipment_code != null">
                equipment_code = #{equipment_info.equipment_code},
            </if>
            <if test="equipment_info.equipment_name != null">
                equipment_name = #{equipment_info.equipment_name},
            </if>
            <if test="equipment_info.equipment_type != null">
                equipment_type = #{equipment_info.equipment_type},
            </if>
            <if test="equipment_info.equipment_property_template_code != null">
                equipment_property_template_code = #{equipment_info.equipment_property_template_code},
            </if>
            <if test="equipment_info.equipment_property_code != null">
                equipment_property_code = #{equipment_info.equipment_property_code},
            </if>
            <if test="equipment_info.keyword != null">
                keyword = #{equipment_info.keyword},
            </if>
            <if test="equipment_info.data_val != null">
                data_val = #{equipment_info.data_val},
            </if>
            <if test="equipment_info.alarm_val != null">
                alarm_val = #{equipment_info.alarm_val},
            </if>
            <if test="equipment_info.control_val != null">
                control_val = #{equipment_info.control_val},
            </if>
            <if test="equipment_info.update_time != null">
                update_time = #{equipment_info.update_time},
            </if>
            <if test="equipment_info.params_update != null">
                params_update = #{equipment_info.params_update},
            </if>
            <if test="equipment_info.data_update != null">
                data_update = #{equipment_info.data_update},
            </if>
            <if test="equipment_info.alarm_update != null">
                alarm_update = #{equipment_info.alarm_update},
            </if>
            <if test="equipment_info.controller_update != null">
                controller_update = #{equipment_info.controller_update},
            </if>
        </set>
        WHERE id=#{equipment_info.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_equipment_info
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from dt_equipment_info
        where id=#{id}
    </select>


</mapper>