<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.EquipmentInfoDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.EquipmentInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_node_code" jdbcType="VARCHAR" property="parentNodeCode"/>
        <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode"/>
        <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName"/>
        <result column="equipment_type" jdbcType="VARCHAR" property="equipmentType"/>
        <result column="equipment_property_template_code" jdbcType="VARCHAR"
                property="equipmentPropertyTemplateCode"/>
        <result column="equipment_property_code" jdbcType="VARCHAR" property="equipmentPropertyCode"/>
        <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
        <result column="data_val" jdbcType="VARCHAR" property="dataVal"/>
        <result column="alarm_val" jdbcType="VARCHAR" property="alarmVal"/>
        <result column="control_val" jdbcType="VARCHAR" property="controlVal"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="params_update" jdbcType="TIMESTAMP" property="paramsUpdate"/>
        <result column="data_update" jdbcType="TIMESTAMP" property="dataUpdate"/>
        <result column="alarm_update" jdbcType="TIMESTAMP" property="alarmUpdate"/>
        <result column="controller_update" jdbcType="TIMESTAMP" property="controllerUpdate"/>
    </resultMap>

    <insert id="insertEquipmentInfo" parameterType="com.agioe.tool.data.entity.EquipmentInfo">
         insert into dt_equipment_info
        (
        parent_node_code,
        equipment_code,
        equipment_name,
        equipment_type,
        equipment_property_template_code,
        equipment_property_code,
        keyword,
        data_val,
        alarm_val,
        control_val
        )values
            (
            #{equipmentInfo.parentNodeCode},
            #{equipmentInfo.equipmentCode},
            #{equipmentInfo.equipmentName},
            #{equipmentInfo.equipmentType},
            #{equipmentInfo.equipmentPropertyTemplateCode},
            #{equipmentInfo.equipmentPropertyCode},
            #{equipmentInfo.keyword},
            #{equipmentInfo.dataVal},
            #{equipmentInfo.alarmVal},
            #{equipmentInfo.controlVal}
            )
    </insert>

    <delete id="deleteEquipmentInfo" parameterType="integer">
        delete from dt_equipment_info
        where id=#{id}
    </delete>

    <select id="selectByEquipmentInfo" parameterType="com.agioe.tool.data.entity.EquipmentInfo"
            resultMap="BaseResultMap">
        select *
        from dt_equipment_info
        where 1=1
        <if test="equipmentInfo.id != null">
            and id = #{equipmentInfo.id}
        </if>
        <if test="equipmentInfo.parentNodeCode != null">
            and parent_node_code = #{equipmentInfo.parentNodeCode}
        </if>
        <if test="equipmentInfo.equipmentCode != null">
            and equipment_code = #{equipmentInfo.equipmentCode}
        </if>
        <if test="equipmentInfo.equipmentName != null">
            and equipment_name = #{equipmentInfo.equipmentName}
        </if>
        <if test="equipmentInfo.equipmentType != null">
            and equipment_type = #{equipmentInfo.equipmentType}
        </if>
        <if test="equipmentInfo.equipmentPropertyTemplateCode != null">
            and equipment_property_template_code = #{equipmentInfo.equipmentPropertyTemplateCode}
        </if>
        <if test="equipmentInfo.equipmentPropertyCode != null">
            and equipment_property_code = #{equipmentInfo.equipmentPropertyCode}
        </if>
        <if test="equipmentInfo.keyword != null">
            and keyword = #{equipmentInfo.keyword}
        </if>
        <if test="equipmentInfo.dataVal != null">
            and data_val = #{equipmentInfo.dataVal}
        </if>
        <if test="equipmentInfo.alarmVal != null">
            and alarm_val = #{equipmentInfo.alarmVal}
        </if>
        <if test="equipmentInfo.controlVal != null">
            and control_val = #{equipmentInfo.controlVal}
        </if>
        order by id
    </select>

    <update id="updateEquipmentInfo" parameterType="com.agioe.tool.data.entity.EquipmentInfo">
        UPDATE dt_equipment_info
        <set>
            <if test="equipmentInfo.parentNodeCode != null">
                parent_node_code = #{equipmentInfo.parentNodeCode},
            </if>
            <if test="equipmentInfo.equipmentCode != null">
                equipment_code = #{equipmentInfo.equipmentCode},
            </if>
            <if test="equipmentInfo.equipmentName != null">
                equipment_name = #{equipmentInfo.equipmentName},
            </if>
            <if test="equipmentInfo.equipmentType != null">
                equipment_type = #{equipmentInfo.equipmentType},
            </if>
            <if test="equipmentInfo.equipmentPropertyTemplateCode != null">
                equipment_property_template_code = #{equipmentInfo.equipmentPropertyTemplateCode},
            </if>
            <if test="equipmentInfo.equipmentPropertyCode != null">
                equipment_property_code = #{equipmentInfo.equipmentPropertyCode},
            </if>
            <if test="equipmentInfo.keyword != null">
                keyword = #{equipmentInfo.keyword},
            </if>
            <if test="equipmentInfo.dataVal != null">
                data_val = #{equipmentInfo.dataVal},
            </if>
            <if test="equipmentInfo.alarmVal != null">
                alarm_val = #{equipmentInfo.alarmVal},
            </if>
            <if test="equipmentInfo.controlVal != null">
                control_val = #{equipmentInfo.controlVal},
            </if>
            <if test="equipmentInfo.updateTime != null">
                update_time = #{equipmentInfo.updateTime},
            </if>
            <if test="equipmentInfo.paramsUpdate != null">
                params_update = #{equipmentInfo.paramsUpdate},
            </if>
            <if test="equipmentInfo.dataUpdate != null">
                data_update = #{equipmentInfo.dataUpdate},
            </if>
            <if test="equipmentInfo.alarmUpdate != null">
                alarm_update = #{equipmentInfo.alarmUpdate},
            </if>
            <if test="equipmentInfo.controllerUpdate != null">
                controller_update = #{equipmentInfo.controllerUpdate},
            </if>
        </set>
        WHERE id=#{equipmentInfo.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_equipment_info
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from dt_equipment_info
        where id=#{id}
    </select>


    <update id="createTable" parameterType="com.agioe.tool.data.entity.CreateTableParam">
        CREATE TABLE ${createTableParam.tableName} (LIKE ${createTableParam.originalTableName} INCLUDING DEFAULTS);
        --创建主键序列，自增
        CREATE SEQUENCE ${createTableParam.seqName}
        START WITH 1
        INCREMENT BY 1
        NO MINVALUE
        NO MAXVALUE
        CACHE 1;
        ALTER TABLE ${createTableParam.tableName} ALTER COLUMN id SET DEFAULT nextval('${createTableParam.seqName}');
    </update>


</mapper>