<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.EquipmentRealtimeDataDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.EquipmentRealtimeData">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_uid" jdbcType="INTEGER" property="createUid"/>
        <result column="write_date" jdbcType="TIMESTAMP" property="writeDate"/>
        <result column="write_uid" jdbcType="INTEGER" property="writeUid"/>
        <result column="data_code" jdbcType="VARCHAR" property="dataCode"/>
        <result column="data_name" jdbcType="VARCHAR" property="dataName"/>
        <result column="data_value" jdbcType="VARCHAR" property="dataValue"/>
        <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode"/>
        <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
    </resultMap>

    <insert id="insertEquipmentRealtimeData" parameterType="com.agioe.tool.data.entity.EquipmentRealtimeData">
         insert into dt_equipment_realtime_data
        (
        data_code,
        data_name,
        data_value,
        equipment_code,
        keyword
        )values
            (
            #{equipmentRealtimeData.dataCode},
            #{equipmentRealtimeData.dataName},
            #{equipmentRealtimeData.dataValue},
            #{equipmentRealtimeData.equipmentCode},
            #{equipmentRealtimeData.keyword}
            )
    </insert>

    <delete id="deleteEquipmentRealtimeData" parameterType="integer">
        delete from dt_equipment_realtime_data
        where id=#{id}
    </delete>

    <select id="selectByEquipmentRealtimeData" parameterType="com.agioe.tool.data.entity.EquipmentRealtimeData"
            resultMap="BaseResultMap">
        select *
        from dt_equipment_realtime_data
        where 1=1
        <if test="equipmentRealtimeData.id != null">
            and id = #{equipmentRealtimeData.id}
        </if>
        <if test="equipmentRealtimeData.dataCode != null">
            and data_code = #{equipmentRealtimeData.dataCode}
        </if>
        <if test="equipmentRealtimeData.dataName != null">
            and data_name = #{equipmentRealtimeData.dataName}
        </if>
        <if test="equipmentRealtimeData.dataValue != null">
            and data_value = #{equipmentRealtimeData.dataValue}
        </if>
        <if test="equipmentRealtimeData.equipmentCode != null">
            and equipment_code = #{equipmentRealtimeData.equipmentCode}
        </if>
        <if test="equipmentRealtimeData.keyword != null">
            and keyword = #{equipmentRealtimeData.keyword}
        </if>
        order by id
    </select>

    <update id="updateEquipmentRealtimeData" parameterType="com.agioe.tool.data.entity.EquipmentRealtimeData">
        UPDATE dt_equipment_realtime_data
        <set>
            <if test="equipmentRealtimeData.dataCode != null">
                data_code = #{equipmentRealtimeData.dataCode},
            </if>
            <if test="equipmentRealtimeData.dataName != null">
                data_name = #{equipmentRealtimeData.dataName},
            </if>
            <if test="equipmentRealtimeData.dataValue != null">
                data_value = #{equipmentRealtimeData.dataValue},
            </if>
            <if test="equipmentRealtimeData.equipmentCode != null">
                equipment_code = #{equipmentRealtimeData.equipmentCode},
            </if>
            <if test="equipmentRealtimeData.keyword != null">
                keyword = #{equipmentRealtimeData.keyword},
            </if>
        </set>
        WHERE id=#{equipmentRealtimeData.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_equipment_realtime_data
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from dt_equipment_realtime_data
        where id=#{id}
    </select>


</mapper>