<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.EventHistoryDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.EventHistory">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_uid" jdbcType="INTEGER" property="createUid"/>
        <result column="write_date" jdbcType="TIMESTAMP" property="writeDate"/>
        <result column="write_uid" jdbcType="INTEGER" property="writeUid"/>
        <result column="event_code" jdbcType="VARCHAR" property="eventCode"/>
        <result column="event_type" jdbcType="INTEGER" property="eventType"/>
        <result column="event_value" jdbcType="VARCHAR" property="eventValue"/>
        <result column="event_state" jdbcType="INTEGER" property="eventState"/>
        <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
    </resultMap>

    <insert id="insertEventHistory" parameterType="com.agioe.tool.data.entity.EventHistory">
         insert into dt_event_history_info
        (
        event_code,
        event_type,
        event_value,
        event_state,
        create_date,
        keyword
        )values
            (
            #{eventHistory.eventCode},
            #{eventHistory.eventType},
            #{eventHistory.eventValue},
            #{eventHistory.eventState},
            #{eventHistory.createDate},
            #{eventHistory.keyword}
            )
    </insert>

    <delete id="deleteEventHistory" parameterType="integer">
        delete from dt_event_history_info
        where id=#{id}
    </delete>

    <select id="selectByEventHistory" parameterType="com.agioe.tool.data.entity.EventHistory"
            resultMap="BaseResultMap">
        select *
        from dt_event_history_info
        where 1=1
        <if test="eventHistory.id != null">
            and id = #{eventHistory.id}
        </if>
        <if test="eventHistory.eventCode != null">
            and event_code = #{eventHistory.eventCode}
        </if>
        <if test="eventHistory.eventType != null">
            and event_type = #{eventHistory.eventType}
        </if>
        <if test="eventHistory.eventValue != null">
            and event_value = #{eventHistory.eventValue}
        </if>
        <if test="eventHistory.eventState != null">
            and event_state = #{eventHistory.eventState}
        </if>
        <if test="eventHistory.keyword != null">
            and keyword = #{eventHistory.keyword}
        </if>
        order by id
    </select>

    <update id="updateEventHistory" parameterType="com.agioe.tool.data.entity.EventHistory">
        UPDATE dt_event_history_info
        <set>
            <if test="eventHistory.eventCode != null">
                event_code = #{eventHistory.eventCode},
            </if>
            <if test="eventHistory.eventType != null">
                event_type = #{eventHistory.eventType},
            </if>
            <if test="eventHistory.eventValue != null">
                event_value = #{eventHistory.eventValue},
            </if>
            <if test="eventHistory.eventState != null">
                event_state = #{eventHistory.eventState},
            </if>
            <if test="eventHistory.keyword != null">
                keyword = #{eventHistory.keyword},
            </if>
        </set>
        WHERE id=#{eventHistory.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_event_history_info
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from dt_event_history_info
        where id=#{id}
    </select>


</mapper>