<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.Event_historyDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.Event_history">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="create_date"/>
        <result column="create_uid" jdbcType="INTEGER" property="create_uid"/>
        <result column="write_date" jdbcType="TIMESTAMP" property="write_date"/>
        <result column="write_uid" jdbcType="INTEGER" property="write_uid"/>
        <result column="event_code" jdbcType="VARCHAR" property="event_code"/>
        <result column="event_type" jdbcType="INTEGER" property="event_type"/>
        <result column="event_value" jdbcType="VARCHAR" property="event_value"/>
        <result column="event_state" jdbcType="INTEGER" property="event_state"/>
        <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
    </resultMap>

    <insert id="insertEvent_history" parameterType="com.agioe.tool.data.entity.Event_history">
         insert into dt_event_history_info
        (
        event_code,
        event_type,
        event_value,
        event_state,
        create_date,
        keyword
        )values
            (
            #{event_history.event_code},
            #{event_history.event_type},
            #{event_history.event_value},
            #{event_history.event_state},
            #{event_history.create_date},
            #{event_history.keyword}
            )
    </insert>

    <delete id="deleteEvent_history" parameterType="integer">
        delete from dt_event_history_info
        where id=#{id}
    </delete>

    <select id="selectByEvent_history" parameterType="com.agioe.tool.data.entity.Event_history"
            resultMap="BaseResultMap">
        select *
        from dt_event_history_info
        where 1=1
        <if test="event_history.id != null">
            and id = #{event_history.id}
        </if>
        <if test="event_history.event_code != null">
            and event_code = #{event_history.event_code}
        </if>
        <if test="event_history.event_type != null">
            and event_type = #{event_history.event_type}
        </if>
        <if test="event_history.event_value != null">
            and event_value = #{event_history.event_value}
        </if>
        <if test="event_history.event_state != null">
            and event_state = #{event_history.event_state}
        </if>
        <if test="event_history.keyword != null">
            and keyword = #{event_history.keyword}
        </if>
        order by id
    </select>

    <update id="updateEvent_history" parameterType="com.agioe.tool.data.entity.Event_history">
        UPDATE dt_event_history_info
        <set>
            <if test="event_history.event_code != null">
                event_code = #{event_history.event_code},
            </if>
            <if test="event_history.event_type != null">
                event_type = #{event_history.event_type},
            </if>
            <if test="event_history.event_value != null">
                event_value = #{event_history.event_value},
            </if>
            <if test="event_history.event_state != null">
                event_state = #{event_history.event_state},
            </if>
            <if test="event_history.keyword != null">
                keyword = #{event_history.keyword},
            </if>
        </set>
        WHERE id=#{event_history.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_event_history_info
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from dt_event_history_info
        where id=#{id}
    </select>


</mapper>