<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serotonin.dao.HostInfoDao">
    <resultMap id="BaseResultMap" type="com.serotonin.entity.HostInfo">
        <!--<result column="host_code" jdbcType="TIMESTAMP" property="createDate"/>-->
        <!--<result column="create_uid" jdbcType="INTEGER" property="createUid"/>-->
        <!--<result column="write_date" jdbcType="TIMESTAMP" property="writeDate"/>-->
        <!--<result column="write_uid" jdbcType="INTEGER" property="writeUid"/>-->
        <result column="host_code" jdbcType="VARCHAR" property="hostCode"/>
        <result column="host_addr" jdbcType="VARCHAR" property="hostAddr"/>
        <result column="default2" jdbcType="VARCHAR" property="default2"/>
        <result column="default1" jdbcType="VARCHAR" property="default1"/>
    </resultMap>

    <!--<insert id="insertEquipmentHistoryData" parameterType="com.agioe.tool.data.entity.EquipmentHistoryData">-->
    <!--insert into dt_equipment_history_data-->
    <!--(-->
    <!--data_code,-->
    <!--data_name,-->
    <!--data_value,-->
    <!--equipment_code,-->
    <!--create_date-->
    <!--)values-->
    <!--(-->
    <!--#{equipmentHistoryData.dataCode},-->
    <!--#{equipmentHistoryData.dataName},-->
    <!--#{equipmentHistoryData.dataValue},-->
    <!--#{equipmentHistoryData.equipmentCode},-->
    <!--#{equipmentHistoryData.createDate}-->
    <!--)-->
    <!--</insert>-->

    <!--<delete id="deleteEquipmentHistoryData" parameterType="integer">-->
    <!--delete from dt_equipment_history_data-->
    <!--where id=#{id}-->
    <!--</delete>-->

    <select id="selectByHostInfo" parameterType="com.serotonin.entity.HostInfo"
            resultMap="BaseResultMap">
        select *
        -- host_code,host_addr,default2,default1
        from host_info
        where 1=1
        <if test="hostInfo.hostCode != null">
            and host_code = #{hostInfo.hostCode}
        </if>
        <if test="hostInfo.hostAddr != null">
            and host_addr = #{hostInfo.hostAddr}
        </if>
        <if test="hostInfo.default2 != null">
            and default2 = #{hostInfo.default2}
        </if>
        <if test="hostInfo.default1 != null">
            and default1 = #{hostInfo.default1}
        </if>
    </select>

    <!--<update id="updateEquipmentHistoryData" parameterType="com.agioe.tool.data.entity.EquipmentHistoryData">-->
    <!--UPDATE dt_equipment_history_data-->
    <!--<set>-->
    <!--<if test="equipmentHistoryData.dataCode != null">-->
    <!--data_code = #{equipmentHistoryData.dataCode},-->
    <!--</if>-->
    <!--<if test="equipmentHistoryData.dataName != null">-->
    <!--data_name = #{equipmentHistoryData.dataName},-->
    <!--</if>-->
    <!--<if test="equipmentHistoryData.dataValue != null">-->
    <!--data_value = #{equipmentHistoryData.dataValue},-->
    <!--</if>-->
    <!--<if test="equipmentHistoryData.equipmentCode != null">-->
    <!--equipment_code = #{equipmentHistoryData.equipmentCode},-->
    <!--</if>-->
    <!--</set>-->
    <!--WHERE id=#{equipmentHistoryData.id}-->

    <!--</update>-->

    <!--<select id="selectAll" resultMap="BaseResultMap">-->
    <!--select * from dt_equipment_history_data-->
    <!--order by id-->
    <!--</select>-->

    <!--<select id="selectByid" resultMap="BaseResultMap">-->
    <!--select * from dt_equipment_history_data-->
    <!--where id=#{id}-->
    <!--</select>-->


</mapper>