<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serotonin.dao.HostInfoDao">
    <resultMap id="BaseResultMap" type="com.serotonin.entity.HostInfo">
        <!--<result column="host_code" jdbcType="TIMESTAMP" property="createDate"/>-->
        <!--<result column="create_uid" jdbcType="INTEGER" property="createUid"/>-->
        <!--<result column="write_date" jdbcType="TIMESTAMP" property="writeDate"/>-->
        <!--<result column="write_uid" jdbcType="INTEGER" property="writeUid"/>-->
        <result column="host_code" jdbcType="VARCHAR" property="hostCode"/>
        <result column="host_name" jdbcType="VARCHAR" property="hostName"/>
        <result column="host_type" jdbcType="INTEGER" property="hostType"/>
        <result column="host_addr" jdbcType="VARCHAR" property="hostAddr"/>
        <result column="data_process_mode" jdbcType="INTEGER" property="dataProcessMode"/>
        <result column="is_enable" jdbcType="INTEGER" property="isEnable"/>
        <result column="is_conn" jdbcType="INTEGER" property="isConn"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="params_update_time" jdbcType="TIMESTAMP" property="paramsUpdateTime"/>
        <result column="default2" jdbcType="VARCHAR" property="default2"/>
        <result column="default1" jdbcType="VARCHAR" property="default1"/>
        <result column="default3" jdbcType="VARCHAR" property="default3"/>
    </resultMap>

    <!--<insert id="insertHostInfo" parameterType="com.serotonin.entity.HostInfo">-->
    <!--insert into dt_equipment_history_data-->
    <!--(-->
    <!--data_code,-->
    <!--data_name,-->
    <!--data_value,-->
    <!--equipment_code,-->
    <!--create_date-->
    <!--)values-->
    <!--(-->
    <!--#{equipmentHistoryData.dataCode},-->
    <!--#{equipmentHistoryData.dataName},-->
    <!--#{equipmentHistoryData.dataValue},-->
    <!--#{equipmentHistoryData.equipmentCode},-->
    <!--#{equipmentHistoryData.createDate}-->
    <!--)-->
    <!--</insert>-->

    <!--<delete id="deleteHostInfo" parameterType="integer">-->
    <!--delete from dt_equipment_history_data-->
    <!--where id=#{id}-->
    <!--</delete>-->

    <select id="selectByHostInfo" parameterType="com.serotonin.entity.HostInfo"
            resultMap="BaseResultMap">
        select * from host_info
        where 1=1
        <if test="hostInfo.hostCode != null">
            and host_code = #{hostInfo.hostCode}
        </if>
        <if test="hostInfo.hostType != null">
            and host_type = #{hostInfo.hostType}
        </if>
        <if test="hostInfo.hostAddr != null">
            and host_addr = #{hostInfo.hostAddr}
        </if>
        <if test="hostInfo.default2 != null">
            and default2 = #{hostInfo.default2}
        </if>
        <if test="hostInfo.default1 != null">
            and default1 = #{hostInfo.default1}
        </if>
    </select>

    <update id="updateHostInfo" parameterType="com.serotonin.entity.HostInfo">
        UPDATE host_info
        <set>
            <if test="hostInfo.is_conn != null">
                is_conn = #{hostInfo.is_conn},
            </if>
            <if test="hostInfo.updateTime != null">
                update_time = #{hostInfo.updateTime},
            </if>
        </set>
        WHERE host_code=#{hostInfo.id}

    </update>

    <!--<select id="selectAll" resultMap="BaseResultMap">-->
    <!--select * from dt_equipment_history_data-->
    <!--order by id-->
    <!--</select>-->

    <!--<select id="selectByid" resultMap="BaseResultMap">-->
    <!--select * from dt_equipment_history_data-->
    <!--where id=#{id}-->
    <!--</select>-->


</mapper>