<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.Monitor_property_templateDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.Monitor_property_template">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="create_date"/>
        <result column="create_uid" jdbcType="INTEGER" property="create_uid"/>
        <result column="write_date" jdbcType="TIMESTAMP" property="write_date"/>
        <result column="write_uid" jdbcType="INTEGER" property="write_uid"/>
        <result column="equipment_type" jdbcType="VARCHAR" property="equipment_type"/>
        <result column="equipment_property_template_code" jdbcType="VARCHAR"
                property="equipment_property_template_code"/>
        <result column="equipment_property_template_name" jdbcType="VARCHAR"
                property="equipment_property_template_name"/>
        <result column="equipment_property_template_description" jdbcType="VARCHAR"
                property="equipment_property_template_description"/>
    </resultMap>

    <insert id="insertMonitor_property_template" parameterType="com.agioe.tool.data.entity.Monitor_property_template">
         insert into dt_monitor_property_template
        (
        equipment_type,
        equipment_property_template_code,
        equipment_property_template_name,
        equipment_property_template_description
        )values
            (
            #{monitor_property_template.equipment_type},
            #{monitor_property_template.equipment_property_template_code},
            #{monitor_property_template.equipment_property_template_name},
            #{monitor_property_template.equipment_property_template_description}
            )
    </insert>

    <delete id="deleteMonitor_property_template" parameterType="integer">
        delete from dt_monitor_property_template
        where id=#{id}
    </delete>

    <select id="selectByMonitor_property_template" parameterType="com.agioe.tool.data.entity.Monitor_property_template"
            resultMap="BaseResultMap">
        select *
        from dt_monitor_property_template
        where 1=1
        <if test="monitor_property_template.id != null">
            and id = #{monitor_property_template.id}
        </if>
        <if test="monitor_property_template.equipment_type != null">
            and equipment_type = #{monitor_property_template.equipment_type}
        </if>
        <if test="monitor_property_template.equipment_property_template_code != null">
            and equipment_property_template_code = #{monitor_property_template.equipment_property_template_code}
        </if>
        <if test="monitor_property_template.equipment_property_template_name != null">
            and equipment_property_template_name = #{monitor_property_template.equipment_property_template_name}
        </if>
        <if test="monitor_property_template.equipment_property_template_description != null">
            and equipment_property_template_description =
            #{monitor_property_template.equipment_property_template_description}
        </if>
        order by id
    </select>

    <update id="updateMonitor_property_template" parameterType="com.agioe.tool.data.entity.Monitor_property_template">
        UPDATE dt_monitor_property_template
        <set>
            <if test="monitor_property_template.equipment_type != null">
                equipment_type = #{monitor_property_template.equipment_type},
            </if>
            <if test="monitor_property_template.equipment_property_template_code != null">
                equipment_property_template_code = #{monitor_property_template.equipment_property_template_code},
            </if>
            <if test="monitor_property_template.equipment_property_template_name != null">
                equipment_property_template_name = #{monitor_property_template.equipment_property_template_name},
            </if>
            <if test="monitor_property_template.equipment_property_template_description != null">
                equipment_property_template_description =
                #{monitor_property_template.equipment_property_template_description},
            </if>
        </set>
        WHERE id=#{monitor_property_template.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_monitor_property_template
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from dt_monitor_property_template
        where id=#{id}
    </select>


</mapper>