<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.Monitor_propertyDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.Monitor_property">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="create_date"/>
        <result column="create_uid" jdbcType="INTEGER" property="create_uid"/>
        <result column="write_date" jdbcType="TIMESTAMP" property="write_date"/>
        <result column="write_uid" jdbcType="INTEGER" property="write_uid"/>
        <result column="equipment_property_code" jdbcType="VARCHAR" property="equipment_property_code"/>
        <result column="equipment_property_name" jdbcType="VARCHAR" property="equipment_property_name"/>
        <result column="equipment_property_type" jdbcType="INTEGER" property="equipment_property_type"/>
        <result column="default1" jdbcType="VARCHAR" property="default1"/>
        <result column="default2" jdbcType="VARCHAR" property="default2"/>
        <result column="default3" jdbcType="VARCHAR" property="default3"/>
        <result column="default4" jdbcType="OTHER" property="default4"/>
    </resultMap>

    <insert id="insertMonitor_property" parameterType="com.agioe.tool.data.entity.Monitor_property">
         insert into dt_monitor_property
        (
        equipment_property_code,
        equipment_property_name,
        equipment_property_type
        )values
            (
            #{monitor_property.equipment_property_code},
            #{monitor_property.equipment_property_name},
            #{monitor_property.equipment_property_type}
            )
    </insert>

    <delete id="deleteMonitor_property" parameterType="integer">
        delete from dt_monitor_property
        where id=#{id}
    </delete>

    <select id="selectByMonitor_property" parameterType="com.agioe.tool.data.entity.Monitor_property"
            resultMap="BaseResultMap">
        select *
        from dt_monitor_property
        where 1=1
        <if test="monitor_property.id != null">
            and id = #{monitor_property.id}
        </if>
        <if test="monitor_property.equipment_property_code != null">
            and equipment_property_code = #{monitor_property.equipment_property_code}
        </if>
        <if test="monitor_property.equipment_property_name != null">
            and equipment_property_name = #{monitor_property.equipment_property_name}
        </if>
        <if test="monitor_property.equipment_property_type != null">
            and equipment_property_type = #{monitor_property.equipment_property_type}
        </if>
        order by id
    </select>

    <update id="updateMonitor_property" parameterType="com.agioe.tool.data.entity.Monitor_property">
        UPDATE dt_monitor_property
        <set>
            <if test="monitor_property.equipment_property_code != null">
                equipment_property_code = #{monitor_property.equipment_property_code},
            </if>
            <if test="monitor_property.equipment_property_name != null">
                equipment_property_name = #{monitor_property.equipment_property_name},
            </if>
            <if test="monitor_property.equipment_property_type != null">
                equipment_property_type = #{monitor_property.equipment_property_type},
            </if>
        </set>
        WHERE id=#{monitor_property.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_monitor_property
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from dt_monitor_property
        where id=#{id}
    </select>


</mapper>