<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.MonitorPropertyDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.MonitorProperty">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_uid" jdbcType="INTEGER" property="createUid"/>
        <result column="write_date" jdbcType="TIMESTAMP" property="writeDate"/>
        <result column="write_uid" jdbcType="INTEGER" property="writeUid"/>
        <result column="equipment_property_code" jdbcType="VARCHAR" property="equipmentPropertyCode"/>
        <result column="equipment_property_name" jdbcType="VARCHAR" property="equipmentPropertyName"/>
        <result column="equipment_property_type" jdbcType="INTEGER" property="equipmentPropertyType"/>
        <result column="default1" jdbcType="VARCHAR" property="default1"/>
        <result column="default2" jdbcType="VARCHAR" property="default2"/>
        <result column="default3" jdbcType="VARCHAR" property="default3"/>
        <result column="default4" jdbcType="OTHER" property="default4"/>
    </resultMap>

    <insert id="insertMonitorProperty" parameterType="com.agioe.tool.data.entity.MonitorProperty">
         insert into dt_monitor_property
        (
        equipment_property_code,
        equipment_property_name,
        equipment_property_type
        )values
            (
            #{monitorProperty.equipmentPropertyCode},
            #{monitorProperty.equipmentPropertyName},
            #{monitorProperty.equipmentPropertyType}
            )
    </insert>

    <delete id="deleteMonitorProperty" parameterType="String">
        delete from dt_monitor_property
        where equipment_property_code=#{equipmentPropertyCode}
    </delete>

    <select id="selectByMonitorProperty" parameterType="com.agioe.tool.data.entity.MonitorProperty"
            resultMap="BaseResultMap">
        select *
        from dt_monitor_property
        where 1=1
        <if test="monitorProperty.id != null">
            and id = #{monitorProperty.id}
        </if>
        <if test="monitorProperty.equipmentPropertyCode != null">
            and equipment_property_code = #{monitorProperty.equipmentPropertyCode}
        </if>
        <if test="monitorProperty.equipmentPropertyName != null">
            and equipment_property_name = #{monitorProperty.equipmentPropertyName}
        </if>
        <if test="monitorProperty.equipmentPropertyType != null">
            and equipment_property_type = #{monitorProperty.equipmentPropertyType}
        </if>
        order by id
    </select>

    <update id="updateMonitorProperty" parameterType="com.agioe.tool.data.entity.MonitorProperty">
        UPDATE dt_monitor_property
        <set>
            <if test="monitorProperty.equipmentPropertyCode != null">
                equipment_property_code = #{monitorProperty.equipmentPropertyCode},
            </if>
            <if test="monitorProperty.equipmentPropertyName != null">
                equipment_property_name = #{monitorProperty.equipmentPropertyName},
            </if>
            <if test="monitorProperty.equipmentPropertyType != null">
                equipment_property_type = #{monitorProperty.equipmentPropertyType},
            </if>
        </set>
        WHERE id=#{monitorProperty.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_monitor_property
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from dt_monitor_property
        where id=#{id}
    </select>


</mapper>