<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.MonitorPropertyTemplateDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.MonitorPropertyTemplate">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_uid" jdbcType="INTEGER" property="createUid"/>
        <result column="write_date" jdbcType="TIMESTAMP" property="writeDate"/>
        <result column="write_uid" jdbcType="INTEGER" property="writeUid"/>
        <result column="equipment_type" jdbcType="VARCHAR" property="equipmentType"/>
        <result column="equipment_property_template_code" jdbcType="VARCHAR"
                property="equipmentPropertyTemplateCode"/>
        <result column="equipment_property_template_name" jdbcType="VARCHAR"
                property="equipmentPropertyTemplateName"/>
        <result column="equipment_property_template_description" jdbcType="VARCHAR"
                property="equipmentPropertyTemplateDescription"/>
    </resultMap>

    <insert id="insertMonitorPropertyTemplate" parameterType="com.agioe.tool.data.entity.MonitorPropertyTemplate">
         insert into dt_monitor_property_template
        (
        equipment_type,
        equipment_property_template_code,
        equipment_property_template_name,
        equipment_property_template_description
        )values
            (
            #{monitorPropertyTemplate.equipmentType},
            #{monitorPropertyTemplate.equipmentPropertyTemplateCode},
            #{monitorPropertyTemplate.equipmentPropertyTemplateName},
            #{monitorPropertyTemplate.equipmentPropertyTemplateDescription}
            )
    </insert>

    <delete id="deleteMonitorPropertyTemplate" parameterType="String">
        delete from dt_monitor_property_template
        where equipment_property_template_code=#{equipmentPropertyTemplateCode}
    </delete>

    <select id="selectByMonitorPropertyTemplate" parameterType="com.agioe.tool.data.entity.MonitorPropertyTemplate"
            resultMap="BaseResultMap">
        select *
        from dt_monitor_property_template
        where 1=1
        <if test="monitorPropertyTemplate.id != null">
            and id = #{monitorPropertyTemplate.id}
        </if>
        <if test="monitorPropertyTemplate.equipmentType != null">
            and equipment_type = #{monitorPropertyTemplate.equipmentType}
        </if>
        <if test="monitorPropertyTemplate.equipmentPropertyTemplateCode != null">
            and equipment_property_template_code = #{monitorPropertyTemplate.equipmentPropertyTemplateCode}
        </if>
        <if test="monitorPropertyTemplate.equipmentPropertyTemplateName != null">
            and equipment_property_template_name = #{monitorPropertyTemplate.equipmentPropertyTemplateName}
        </if>
        <if test="monitorPropertyTemplate.equipmentPropertyTemplateDescription != null">
            and equipment_property_template_description =
            #{monitorPropertyTemplate.equipmentPropertyTemplateDescription}
        </if>
        order by id
    </select>

    <update id="updateMonitorPropertyTemplate" parameterType="com.agioe.tool.data.entity.MonitorPropertyTemplate">
        UPDATE dt_monitor_property_template
        <set>
            <if test="monitorPropertyTemplate.equipmentType != null">
                equipment_type = #{monitorPropertyTemplate.equipmentType},
            </if>
            <if test="monitorPropertyTemplate.equipmentPropertyTemplateCode != null">
                equipment_property_template_code = #{monitorPropertyTemplate.equipmentPropertyTemplateCode},
            </if>
            <if test="monitorPropertyTemplate.equipmentPropertyTemplateName != null">
                equipment_property_template_name = #{monitorPropertyTemplate.equipmentPropertyTemplateName},
            </if>
            <if test="monitorPropertyTemplate.equipmentPropertyTemplateDescription != null">
                equipment_property_template_description =
                #{monitorPropertyTemplate.equipmentPropertyTemplateDescription},
            </if>
        </set>
        WHERE id=#{monitorPropertyTemplate.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_monitor_property_template
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from dt_monitor_property_template
        where id=#{id}
    </select>


</mapper>