<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.MonitorPropertyTemplateBindDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.MonitorPropertyTemplateBind">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_uid" jdbcType="INTEGER" property="createUid"/>
        <result column="write_date" jdbcType="TIMESTAMP" property="writeDate"/>
        <result column="write_uid" jdbcType="INTEGER" property="writeUid"/>
        <result column="equipment_type" jdbcType="VARCHAR" property="equipmentType"/>
        <result column="equipment_property_template_code" jdbcType="VARCHAR"
                property="equipmentPropertyTemplateCode"/>
        <result column="equipment_property_code" jdbcType="VARCHAR" property="equipmentPropertyCode"/>
    </resultMap>

    <insert id="insertMonitorPropertyTemplateBind"
            parameterType="com.agioe.tool.data.entity.MonitorPropertyTemplateBind">
         insert into dt_monitor_property_template_bind
        (
        equipment_type,
        equipment_property_template_code,
        equipment_property_code
        )values
            (
            #{monitorPropertyTemplateBind.equipmentType},
            #{monitorPropertyTemplateBind.equipmentPropertyTemplateCode},
            #{monitorPropertyTemplateBind.equipmentPropertyCode}
            )
    </insert>

    <delete id="deleteMonitorPropertyTemplateBind" parameterType="integer">
        delete from dt_monitor_property_template_bind
        where id=#{id}
    </delete>

    <select id="selectByMonitorPropertyTemplateBind"
            parameterType="com.agioe.tool.data.entity.MonitorPropertyTemplateBind"
            resultMap="BaseResultMap">
        select *
        from dt_monitor_property_template_bind
        where 1=1
        <if test="monitorPropertyTemplateBind.id != null">
            and id = #{monitorPropertyTemplateBind.id}
        </if>
        <if test="monitorPropertyTemplateBind.equipmentType != null">
            and equipment_type = #{monitorPropertyTemplateBind.equipmentType}
        </if>
        <if test="monitorPropertyTemplateBind.equipmentPropertyTemplateCode != null">
            and equipment_property_template_code = #{monitorPropertyTemplateBind.equipmentPropertyTemplateCode}
        </if>
        <if test="monitorPropertyTemplateBind.equipmentPropertyCode != null">
            and equipment_property_code = #{monitorPropertyTemplateBind.equipmentPropertyCode}
        </if>
        order by id
    </select>

    <update id="updateMonitorPropertyTemplateBind"
            parameterType="com.agioe.tool.data.entity.MonitorPropertyTemplateBind">
        UPDATE dt_monitor_property_template_bind
        <set>
            <if test="monitorPropertyTemplateBind.equipmentType != null">
                equipment_type = #{monitorPropertyTemplateBind.equipmentType},
            </if>
            <if test="monitorPropertyTemplateBind.equipmentPropertyTemplateCode != null">
                equipment_property_template_code = #{monitorPropertyTemplateBind.equipmentPropertyTemplateCode},
            </if>
            <if test="monitorPropertyTemplateBind.equipmentPropertyCode != null">
                equipment_property_code = #{monitorPropertyTemplateBind.equipmentPropertyCode},
            </if>
        </set>
        WHERE id=#{monitorPropertyTemplateBind.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_monitor_property_template_bind
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from dt_monitor_property_template_bind
        where id=#{id}
    </select>


</mapper>