<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.ParamsConfigDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.ParamsConfig">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="port" jdbcType="VARCHAR" property="port"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="data_enable" jdbcType="INTEGER" property="dataEnable"/>
        <result column="alarm_enable" jdbcType="INTEGER" property="alarmEnable"/>
        <result column="feed_cycle" jdbcType="INTEGER" property="feedCycle"/>
        <result column="log_level" jdbcType="INTEGER" property="logLevel"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
    </resultMap>

    <insert id="insertParamsConfig" parameterType="com.agioe.tool.data.entity.ParamsConfig">
         insert into dt_params_config_info
        (
        ip,
        port,
        password,
        data_enable,
        alarm_enable,
        feed_cycle,
        log_level,
        version,
        create_date
        )values
            (
            #{paramsConfig.ip},
            #{paramsConfig.port},
            #{paramsConfig.password},
            #{paramsConfig.dataEnable},
            #{paramsConfig.alarmEnable},
            #{paramsConfig.feedCycle},
            #{paramsConfig.logLevel},
            #{paramsConfig.version},
            #{paramsConfig.createDate}
            )
    </insert>


    <update id="updateParamsConfig" parameterType="com.agioe.tool.data.entity.ParamsConfig">
        UPDATE dt_params_config_info
        <set>
            <if test="paramsConfig.ip != null">
                ip = #{paramsConfig.ip},
            </if>
            <if test="paramsConfig.port != null">
                port = #{paramsConfig.port},
            </if>
            <if test="paramsConfig.password != null">
                password = #{paramsConfig.password},
            </if>
            <if test="paramsConfig.dataEnable != null">
                data_enable = #{paramsConfig.dataEnable},
            </if>
            <if test="paramsConfig.alarmEnable != null">
                alarm_enable = #{paramsConfig.alarmEnable},
            </if>
            <if test="paramsConfig.feedCycle != null">
                feed_cycle = #{paramsConfig.feedCycle},
            </if>
            <if test="paramsConfig.logLevel != null">
                log_level = #{paramsConfig.logLevel},
            </if>
            <if test="paramsConfig.version != null">
                version = #{paramsConfig.version},
            </if>
            <if test="paramsConfig.createDate != null">
                create_date = #{paramsConfig.createDate},
            </if>
        </set>
        WHERE id=#{paramsConfig.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_params_config_info
        order by id
    </select>


</mapper>