<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.Params_configDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.Params_config">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="create_date"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="port" jdbcType="VARCHAR" property="port"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="data_enable" jdbcType="INTEGER" property="data_enable"/>
        <result column="alarm_enable" jdbcType="INTEGER" property="alarm_enable"/>
        <result column="feed_cycle" jdbcType="INTEGER" property="feed_cycle"/>
        <result column="log_level" jdbcType="INTEGER" property="log_level"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
    </resultMap>

    <insert id="insertParams_config" parameterType="com.agioe.tool.data.entity.Params_config">
         insert into dt_params_config_info
        (
        ip,
        port,
        password,
        data_enable,
        alarm_enable,
        feed_cycle,
        log_level,
        version,
        create_date
        )values
            (
            #{params_config.ip},
            #{params_config.port},
            #{params_config.password},
            #{params_config.data_enable},
            #{params_config.alarm_enable},
            #{params_config.feed_cycle},
            #{params_config.log_level},
            #{params_config.version},
            #{params_config.create_date}
            )
    </insert>


    <update id="updateParams_config" parameterType="com.agioe.tool.data.entity.Params_config">
        UPDATE dt_params_config_info
        <set>
            <if test="params_config.ip != null">
                ip = #{params_config.ip},
            </if>
            <if test="params_config.port != null">
                port = #{params_config.port},
            </if>
            <if test="params_config.password != null">
                password = #{params_config.password},
            </if>
            <if test="params_config.data_enable != null">
                data_enable = #{params_config.data_enable},
            </if>
            <if test="params_config.alarm_enable != null">
                alarm_enable = #{params_config.alarm_enable},
            </if>
            <if test="params_config.feed_cycle != null">
                feed_cycle = #{params_config.feed_cycle},
            </if>
            <if test="params_config.log_level != null">
                log_level = #{params_config.log_level},
            </if>
            <if test="params_config.version != null">
                version = #{params_config.version},
            </if>
            <if test="params_config.create_date != null">
                create_date = #{params_config.create_date},
            </if>
        </set>
        WHERE id=#{params_config.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_params_config_info
        order by id
    </select>


</mapper>