<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.ParentNodeDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.ParentNode">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_uid" jdbcType="INTEGER" property="createUid"/>
        <result column="write_date" jdbcType="TIMESTAMP" property="writeDate"/>
        <result column="write_uid" jdbcType="INTEGER" property="writeUid"/>
        <result column="parent_node_code" jdbcType="VARCHAR" property="parentNodeCode"/>
        <result column="parent_node_name" jdbcType="VARCHAR" property="parentNodeName"/>
    </resultMap>

    <insert id="insertParentNode" parameterType="com.agioe.tool.data.entity.ParentNode">
         insert into dt_parent_node_info
        (
        parent_node_code,
        parent_node_name
        )values
            (
            #{parentNode.parentNodeCode},
            #{parentNode.parentNodeName}
            )
    </insert>

    <delete id="deleteParentNode" parameterType="String">
        delete from dt_parent_node_info
        where parent_node_code=#{parentNodeCode}
    </delete>

    <select id="selectByParentNode" parameterType="com.agioe.tool.data.entity.ParentNode"
            resultMap="BaseResultMap">
        select *
        from dt_parent_node_info
        where 1=1
        <if test="parentNode.id != null">
            and id = #{parentNode.id}
        </if>
        <if test="parentNode.parentNodeCode != null">
            and parent_node_code = #{parentNode.parentNodeCode}
        </if>
        <if test="parentNode.parentNodeName != null">
            and parent_node_name = #{parentNode.parentNodeName}
        </if>
        order by id
    </select>

    <update id="updateParentNode" parameterType="com.agioe.tool.data.entity.ParentNode">
        UPDATE dt_parent_node_info
        <set>
            <if test="parentNode.parentNodeCode != null">
                parent_node_code = #{parentNode.parentNodeCode},
            </if>
            <if test="parentNode.parentNodeName != null">
                parent_node_name = #{parentNode.parentNodeName},
            </if>
        </set>
        WHERE id=#{parentNode.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from dt_parent_node_info
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from dt_parent_node_info
        where id=#{id}
    </select>

    <update id="deleteTable" parameterType="com.agioe.tool.data.entity.ParentNode">
        drop table dt_${parentNode.parentNodeCode}_equipment_info
    </update>


</mapper>