<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serotonin.dao.RealtimeEventDao">
    <resultMap id="BaseResultMap" type="com.serotonin.entity.RealtimeEvent">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="dev_code" jdbcType="VARCHAR" property="devCode"/>
        <result column="dev_type" jdbcType="INTEGER" property="devType"/>
        <result column="event_type" jdbcType="INTEGER" property="eventType"/>
        <result column="event_sub_type" jdbcType="INTEGER" property="eventSubType"/>
        <result column="event_data" jdbcType="NUMERIC" property="eventData"/>
        <result column="is_confirm" jdbcType="INTEGER" property="isConfirm"/>
        <result column="event_time" jdbcType="TIMESTAMP" property="eventTime"/>
        <result column="event_detail" jdbcType="VARCHAR" property="eventDetail"/>
        <result column="confirm_operator" jdbcType="VARCHAR" property="confirmOperator"/>
        <result column="confirm_detail" jdbcType="VARCHAR" property="confirmDetail"/>
        <!--<result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime"/>-->
        <result column="lowmachine_key" jdbcType="VARCHAR" property="lowMachineKey"/>
        <result column="is_sync" jdbcType="INTEGER" property="isSync"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <insert id="insertRealtimeEvent" parameterType="com.serotonin.entity.RealtimeEvent">
    insert into realtime_event
    (
    dev_code,
    dev_type,
    event_type,
    event_sub_type,
    is_confirm,
    event_time,
    event_detail,
    confirm_operator,
    confirm_detail,
    confirm_time,
    lowmachine_key,
    is_sync,
    update_time
    )values
    (
    #{realtimeEvent.devCode},
    #{realtimeEvent.devType},
    #{realtimeEvent.eventType},
    #{realtimeEvent.eventSubType},
    #{realtimeEvent.isConfirm},
    #{realtimeEvent.eventTime},
    #{realtimeEvent.eventDetail},
    #{realtimeEvent.confirmOperator},
    #{realtimeEvent.confirmDetail},
    #{realtimeEvent.confirmTime},
    #{realtimeEvent.lowMachineKey},
    #{realtimeEvent.isSync},
    #{realtimeEvent.updateTime}
    )
    </insert>

    <delete id="deleteRealtimeEvent" parameterType="integer">
    delete from realtime_event
    where id=#{id}
    </delete>

    <select id="selectByRealtimeEvent" parameterType="com.serotonin.entity.RealtimeEvent"
            resultMap="BaseResultMap">
        select * from realtime_event
        where 1=1
        <if test="realtimeEvent.id != null">
            and id = #{realtimeEvent.id}
        </if>
        <if test="realtimeEvent.devCode != null">
            and dev_code = #{realtimeEvent.devCode}
        </if>
        <if test="realtimeEvent.devType != null">
            and dev_type = #{realtimeEvent.devType}
        </if>
        <if test="realtimeEvent.eventType != null">
            and event_type = #{realtimeEvent.eventType}
        </if>
        <if test="realtimeEvent.eventSubType != null">
            and event_sub_type = #{realtimeEvent.eventSubType}
        </if>
        <if test="realtimeEvent.eventData != null">
            and event_data = #{realtimeEvent.eventData}
        </if>
        <if test="realtimeEvent.isConfirm != null">
            and is_confirm = #{realtimeEvent.isConfirm}
        </if>
        <if test="realtimeEvent.eventTime != null">
            and event_time = #{realtimeEvent.eventTime}
        </if>
        <if test="realtimeEvent.eventDetail != null">
            and event_detail = #{realtimeEvent.eventDetail}
        </if>
        <if test="realtimeEvent.confirmOperator != null">
            and confirm_operator = #{realtimeEvent.confirmOperator}
        </if>
        <if test="realtimeEvent.confirmDetail != null">
            and confirm_detail = #{realtimeEvent.confirmDetail}
        </if>
        <if test="realtimeEvent.confirmTime != null">
            and confirm_time = #{realtimeEvent.confirmTime}
        </if>
        <if test="realtimeEvent.lowMachineKey != null">
            and lowmachine_key = #{realtimeEvent.lowMachineKey}
        </if>
        <if test="realtimeEvent.isSync != null">
            and is_sync = #{realtimeEvent.isSync}
        </if>
        <if test="realtimeEvent.updateTime != null">
            and update_time = #{realtimeEvent.updateTime}
        </if>
    </select>

    <update id="updateRealtimeEvent" parameterType="com.serotonin.entity.RealtimeEvent">
        UPDATE realtime_event
        <set>
            <if test="realtimeEvent.devCode != null">
                dev_code = #{realtimeEvent.devCode}
            </if>
            <if test="realtimeEvent.devType != null">
                dev_type = #{realtimeEvent.devType}
            </if>
            <if test="realtimeEvent.eventType != null">
                event_type = #{realtimeEvent.eventType}
            </if>
            <if test="realtimeEvent.eventSubType != null">
                event_sub_type = #{realtimeEvent.eventSubType}
            </if>
            <if test="realtimeEvent.eventData != null">
                event_data = #{realtimeEvent.eventData}
            </if>
            <if test="realtimeEvent.isConfirm != null">
                is_confirm = #{realtimeEvent.isConfirm}
            </if>
            <if test="realtimeEvent.eventTime != null">
                event_time = #{realtimeEvent.eventTime}
            </if>
            <if test="realtimeEvent.eventDetail != null">
                event_detail = #{realtimeEvent.eventDetail}
            </if>
            <if test="realtimeEvent.confirmOperator != null">
                confirm_operator = #{realtimeEvent.confirmOperator}
            </if>
            <if test="realtimeEvent.confirmDetail != null">
                confirm_detail = #{realtimeEvent.confirmDetail}
            </if>
            <if test="realtimeEvent.confirmTime != null">
                confirm_time = #{realtimeEvent.confirmTime}
            </if>
            <if test="realtimeEvent.lowMachineKey != null">
                lowmachine_key = #{realtimeEvent.lowMachineKey}
            </if>
            <if test="realtimeEvent.isSync != null">
                is_sync = #{realtimeEvent.isSync}
            </if>
            <if test="realtimeEvent.updateTime != null">
                update_time = #{realtimeEvent.updateTime}
            </if>
        </set>
        WHERE id=#{realtimeEvent.id}
    </update>


    <update id="createTable" parameterType="com.serotonin.entity.CreateTableParam">
      CREATE TABLE ${createTableParam.tableName} LIKE ${createTableParam.originalTableName};
    </update>

    <select id="selectAll" resultMap="BaseResultMap">
      select * from realtime_event
    </select>

    <!--<select id="selectByid" resultMap="BaseResultMap">-->
    <!--select * from dt_equipment_history_data-->
    <!--where id=#{id}-->
    <!--</select>-->


</mapper>