<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.SendControlDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.SendControl">
        <id column="control_value" jdbcType="INTEGER" property="controlVal"/>
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="ip" jdbcType="VARCHAR" property="ip"/>
    </resultMap>

    <select id="selectOne" resultMap="BaseResultMap">
        select * from dt_send_control
        where ip=ip
    </select>

    <update id="updateSendControl" parameterType="com.agioe.tool.data.entity.SendControl">
        UPDATE dt_send_control
        <set>
            <if test="sendControl.controlVal != null">
                control_value = #{sendControl.controlVal},
            </if>
        </set>
        WHERE id=#{sendControl.id}

    </update>

    <insert id="insertSendControl" parameterType="com.agioe.tool.data.entity.SendControl">
         insert into dt_send_control
        (
        control_value,
        ip
        )values
            (
            #{sendControl.controlVal},
            #{sendControl.ip}
            )
    </insert>


</mapper>