<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agioe.tool.data.dao.SendDataControlDao">
    <resultMap id="BaseResultMap" type="com.agioe.tool.data.entity.SendDataControl">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_node_code" jdbcType="VARCHAR" property="parentNodeCode"/>
        <result column="equipment_type_code" jdbcType="VARCHAR" property="equipmentTypeCode"/>
        <result column="control_val" jdbcType="INTEGER" property="controlVal"/>
    </resultMap>

    <insert id="insertSendDataControl" parameterType="com.agioe.tool.data.entity.SendDataControl">
         insert into dt_send_data_control
        (
        parent_node_code,
        equipment_type_code,
        control_val
        )values
            (
            #{sendDataControl.parentNodeCode},
            #{sendDataControl.equipmentTypeCode},
            #{sendDataControl.controlVal}
            )
    </insert>

    <select id="selectBySendDataControl" parameterType="com.agioe.tool.data.entity.SendDataControl"
            resultMap="BaseResultMap">
        select *
        from dt_send_data_control
        where 1=1
        <if test="sendDataControl.id != null">
            and id = #{sendDataControl.id}
        </if>
        <if test="sendDataControl.parentNodeCode != null">
            and parent_node_code = #{sendDataControl.parentNodeCode}
        </if>
        <if test="sendDataControl.equipmentTypeCode != null">
            and equipment_type_code = #{sendDataControl.equipmentTypeCode}
        </if>
        <if test="sendDataControl.controlVal != null">
            and control_val = #{sendDataControl.controlVal}
        </if>
        order by id
    </select>

    <update id="updateSendDataControl" parameterType="com.agioe.tool.data.entity.SendDataControl">
        UPDATE dt_send_data_control
        <set>
            <if test="sendDataControl.controlVal != null">
                control_val = #{sendDataControl.controlVal},
            </if>
        </set>
        WHERE id=#{sendDataControl.id}

    </update>


</mapper>