<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serotonin.dao.UserPermissionDao">
    <resultMap id="BaseResultMap" type="com.serotonin.entity.UserPermission">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="permission_id" jdbcType="INTEGER" property="permissionId"/>
    </resultMap>

    <insert id="insertUserPermission" parameterType="com.serotonin.entity.City">
        insert into sh_user_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="query.userId != null">
                user_id,
            </if>
            <if test="query.permissionId != null">
                permission_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="query.userId != null">
                #{query.userId},
            </if>
            <if test="query.permissionId != null">
                #{query.permissionId},
            </if>
        </trim>
    </insert>

    <delete id="deleteUserPermission" parameterType="integer">
    delete from sh_user_permission
    where id=#{id}
    </delete>

    <select id="selectByUserPermission" parameterType="com.serotonin.entity.City"
            resultMap="BaseResultMap">
        select * from sh_user_permission
        where 1=1
        <if test="query.id != null">
            and id = #{query.id}
        </if>
        <if test="query.userId != null">
            and user_id = #{query.userId}
        </if>
        <if test="query.permissionId != null">
            and permission_id = #{query.permissionId}
        </if>
    </select>

    <update id="updateUserPermission" parameterType="com.serotonin.entity.City">
        UPDATE sh_user_permission
        <set>
            <if test="query.userId != null">
                user_id = #{query.userId}
            </if>
            <if test="query.permissionId != null">
                permission_id = #{query.permissionId}
            </if>
        </set>
        WHERE id=#{query.id}
    </update>


    <!--<update id="createTable" parameterType="com.serotonin.entity.CreateTableParam">-->
    <!--CREATE TABLE ${createTableParam.tableName} LIKE ${createTableParam.originalTableName};-->
    <!--</update>-->

    <select id="selectAll" resultMap="BaseResultMap">
      select * from sh_user_permission
    </select>

    <!--<select id="selectByid" resultMap="BaseResultMap">-->
    <!--select * from dt_equipment_history_data-->
    <!--where id=#{id}-->
    <!--</select>-->


</mapper>